@import "foundation/scss/foundation/functions";

$body-font-family: "Roboto", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$fa-font-path: "../bower_components/fontawesome/fonts";

$column-gutter: rem-calc(40);

$body-bg: #2D3540;

$gray-1: #9DB1BF;
$gray-2: #C0CED8;
$white: #E8EFF3;
$red: #F87D75;
